<div class="item-card">
    <div class="item-img-wrapper">
        <img class="item-img" src="./img/item-img-1.png" alt="">
    </div>
    <div class="col gap-small">
        <div class="col">
            <span class="font-14" style="color: var(--red);">베스트셀러</span>
            <span class="font-14">나이키 줌 보메로 5</span>
            <span class="font-12" style="color: var(--gray300);">여성 신발</span>
            <span class="font-12" style="color: var(--gray300);">2개 색상</span>
        </div>
        <span class="font-14">189,500원</span>
    </div>
</div>